.Rproj.user
.Rhistory
.RData
.Ruserdata
R/*_files/
dataviz/*_files/
docs/*_files/
productivity/*_files/
wrangling/*_files/
*_cache
copy-qmds.R
crossref.sh
/.quarto/
Untitled*
fixsh.R
.DS_Store
*.tex
*.pdf
ziptex